.cabecalho {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cabecalho-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .cabecalho a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
